
<!-- accessing a variable here -->
<h1>Hi <%= name %></h1>
<!--  coming from app.get on server.js-->
<!-- another form using override to delete and logout -->
<form action='/logout?_method=DELETE' method="POST">
    <button type="submit">Log Out</button>
</form>